@{
    ViewBag.Title = "Mitchell and Tech";
}

<div class="breadcrumb-option spad set-bg" data-setbg="../../Content/img/desktop.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 class="intro">R&eacute;sum&eacute;</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog spad">
    <div class="container">
        <div>
            <div>
                <div class="blog__item__list">
                    <h2 class="text-center">BRANDAN MITCHELL</h2>
                    <div class="text-center">
                        <br />
                        <p>
                            Brandanm296@gmail.com | personal site: <a href="http://mitchellandtech.com" target="_blank">mitchellandtech.com</a>
                        </p>
                    </div>
                    <hr />
                    <div class="text-center">
                        <h2>FULL STACK WEB DEVELOPER</h2>
                        <hr />
                        <div class=" blog_item blog__details__btns__item">
                            <ul>
                                <li>.NET Framework</li>
                                <li>Full Stack Web Application Design</li>
                                <li>C# Fundamentals</li>
                                <li> Continued Growth in IT Knowledge</li>
                            </ul>
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div>
                            <h2 class="text-center text-black">TECHNICAL AND PROFESSIONAL SKILLS</h2>
                            <hr />
                            <div class=" blog_item blog__details__btns__item">
                                <ul>
                                    <li><strong>Front End:</strong>  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                                    <li><strong>Middle Tier:</strong>  Visual Studio, C#.NET, ASP.NET,  MVC</li>
                                    <li><strong>Back End:</strong>  ADO.NET, SQL, SQL Server, SSMSE </li>
                                    <li><strong>Professional Skills:</strong> Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork</li>
                                </ul>
                                <br />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div>
                            <h2 class="text-center text-black">INDEPENDENT DEVELOPMENT PROJECTS</h2>
                            <hr />
                            <div>
                                <p>
                                    <strong>Personal Site:</strong> Crafted responsive website to showcase web development skills.<br />
                                    <strong>StoreFront:</strong>  Created a Game store simulation Application built with a shopping cart that allows users to choose from over 100 items. Administrators have the ability to manage product, category and vendor data. **Anticipated completion date 5/25/2021 <br />
                                    <strong>Dungeon App:</strong> Created a text adventure game where the user chooses a character while the C# program randomizes rooms and opponents for the user to battle. *Anticipated completion date 5/25/2021
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div>
                            <h2 class="text-center text-black">TECHNICAL TRAINING</h2>
                            <hr />
                            <p>
                                <strong>Full Stack Web Developer Program</strong>, Centriq Training  Anticipated Graduation 06/2021<br />
                                Kansas City, MO
                            </p>
                            <p>Core Compentencies:</p>
                            <ul class=" blog_item blog__details__btns__item">
                                <li>
                                    MVC Framework
                                </li>
                                <li>
                                    Trouble Shooting & Debugging
                                </li>
                                <li>
                                    Source Control
                                </li>
                                <li>
                                    Website Deployment
                                </li>
                                <li>
                                    Pair Programming
                                </li>
                                <li>
                                    Code Review
                                </li>
                            </ul>
                            <strong>Physical Education</strong>, Ottawa University  August 2011 to May 2013<br />
                            Ottawa, KS
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div>
                            <h2 class="text-center text-black">WORK EXPERIENCE</h2>
                            <hr />
                            <p>
                                <strong>Amazon Delivery Driver</strong> 08/2020 – 03/2021 <br />
                                Kansas City, MO
                            </p>
                            <ul>
                                <li>
                                    Load vehicles with 200+ packages, ensuring goods are loaded correctly and taking precautions with hazardous goods.
                                </li>
                                <li>
                                    Provide outstanding customer service to clients.
                                </li>
                                <li>
                                    Navigate city and country routes using maps or GPS.
                                </li>
                            </ul> <br />
                            <p>
                                <strong>Lead Installer, Anthony Plumbing Heating cooling and Electric                          </strong> 02/2017 – 05/2020                                                    <br />
                                Lenexa, KS
                            </p>
                            <ul>
                                <li>
                                    Test electrical circuits of 120 to 240 volts for continuity, using electrical test equipment.
                                </li>
                                <li>
                                    Connect heating or air conditioning equipment to fuel, water, or refrigerant source to form complete circuit.
                                </li>
                                <li>
                                    Discuss heating or cooling system malfunctions with users to isolate problems or to verify that repairs corrected malfunctions.
                                </li>
                                <li>
                                    Awarded Safety All star for passing 20+ safety inspections.
                                </li>
                            </ul> <br />
                            <p>
                                <strong>Security Supervisor, Securitas</strong> 03/2016 – 01/2017                                                    <br />
                                Kansas City, MO
                            </p>
                            <ul>
                                <li>
                                    Analyze and evaluate security operations to identify risks or opportunities for improvement through auditing, review, or assessment.t.
                                </li>
                                <li>
                                    Communicate security status, updates, and actual or potential problems with clients.
                                </li>
                                <li>
                                    Conduct Inspections of property and officers to ensure compliance with security policies and regulations.
                                </li>
                            </ul> <br />


                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>